[submodule "submodules/bamdns"]
	path = submodules/bamdns
	url = https://github.com/BryanApellanes/bamdns.git
[submodule "submodules/bamfs"]
	path = submodules/bamfs
	url = https://github.com/BryanApellanes/bamfs.git
[submodule "submodules/bam.core"]
	path = submodules/bam.core
	url = git@github.com:BryanApellanes/Bam.Core.git
[submodule "submodules/bamski"]
	path = submodules/bamski
	url = https://github.com/BryanApellanes/bamski.git
[submodule "bam.remote"]
	path = bam.remote
	url = https://github.com/BryanApellanes/bam.remote.git
